# **Tuple**

## **Introduction**

**Tuple is collection of numbers, strings or any other iterable (tuple,list,set,dictionary) separated by commas and written between two round brackets or parentheses (), or without parentheses too. Tuple is built-in iterable object like list, string amd is immutable.**

In [1]:
t1 = ('str',5,7,8,(1,2,3),[1,2,3],{'a':1,'b':2},{1,2,3})
type(t1)

tuple

In [2]:
t2 = 'str',5,7,8,(1,2,3),[1,2,3],{'a':1,'b':2},{1,2,3}  # does not require parentheses
type(t2)

tuple

In [3]:
t3 = ()                 # empty tuple
print(type(t3))
print(len(t3))

<class 'tuple'>
0

In [4]:
t4 = ([1,2,3])   # single element tuple must have comma, without comma it is considered as int/float/string/list/set etc
print(type(t4))
print(len(t4))


t5 = ([1,2,3],)   # tuple must have atleast one comma
print(type(t5)) # tuple of a list
print(len(t5))

<class 'list'>
3
<class 'tuple'>
1

In [5]:
t6 = 'sam'   # single element tuple must have comma, without comma it is considered as int/float/string/list/set etc
print(type(t6))
print(len(t6))


t7 = 'sam',   # tuple of a string without parentheses
print(type(t7))
print(len(t7))

<class 'str'>
3
<class 'tuple'>
1

## **Built-in Functions on Tuple**

**type(), len(), sum(), max(), min(), sorted() are the built-in functions on tuple similar to that on list.**

In [6]:
t8 = 1,2,-3,6

print(sum(t8))
print(max(t8))
print(min(t8))

6
6
-3

In [7]:
t8 = 1,2,-3,6

print(type(t8))
print(sorted(t8))          
print(type(sorted(t8)))    # sorting tuple by sorted() function results list

print(t8)                  # does not  alter the original tuple

print(sorted(t8, reverse=True))

<class 'tuple'>
[-3, 1, 2, 6]
<class 'list'>
(1, 2, -3, 6)
[6, 2, 1, -3]

In [8]:
t9 = 'Sima','Zakir','sima','Alex','SIMA','Mita', '236','-105','925','1000'  # minus sign comes first then ascending order of 1st and 2nd digits and so on

print(sorted(t9)) # sorts the strings of numbers first and then strings of alphabets

print(sorted(t9, reverse=True))

['-105', '1000', '236', '925', 'Alex', 'Mita', 'SIMA', 'Sima', 'Zakir', 'sima']
['sima', 'Zakir', 'Sima', 'SIMA', 'Mita', 'Alex', '925', '236', '1000', '-105']

In [9]:
t8 = 1,2,-3,6
en = enumerate(t8, start = -1)
print(en)
print(list(en))

<enumerate object at 0x14ce8d6b8500>
[(-1, 1), (0, 2), (1, -3), (2, 6)]

## **Indexing**

**Tuple is ordered and so each element of tuple has a definite positional index like in list.** <br>
Left to right indexing is 0 to (n-1) and right to left indexing is -1 to -n. Where n is the number of elements in the tuple (length of the tuple).

In [10]:
t = 5, 3, -2, 8, 9, 0, -4, 2

print(len(t))
print(t[0])
print(t[7])
print(t[-1])
print(t[-8])
print(8 in t)   # search an element in tuple

8
5
2
2
5
True

## **Mutability**

**Tuples are not mutable like list. So easily using index number and assigning we can not replace any element of tuple by another object like we do in list. We can convert tuple in a list and then replace any element.**

In [11]:
t = 5, 3, -2, 8, 9, 0, -4, 2

t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [12]:
t = 5, 3, -2, 8, 9, 0, -4, 2

t_l = list(t)
print(t_l)

t_l[1] = 4

print(t_l)  # T_l gets altered
print(tuple(t_l))
print(t)

[5, 3, -2, 8, 9, 0, -4, 2]
[5, 4, -2, 8, 9, 0, -4, 2]
(5, 4, -2, 8, 9, 0, -4, 2)
(5, 3, -2, 8, 9, 0, -4, 2)

## **Slicing the Tuple**

In [13]:
t = 5, 3, -2, 8, 9, 0, -4, 2

print(t[1:4:1]) # upto index 3 (left to right)
print(t[1:4])   # Default step size is 1
print(t[:4])    # Default start is 0 (left to right) and default step size 1
print(t[2:])    # Default stop is n-1 (left to right) and default step size 1. n is the length of the list
print(t[-3:])   # Default stop is -n (slicing left to right) and default step size 1.
print(t[-5:5])  # Start at -5 and stop at 5-1=4 (slicing left to right) and default step size 1.
print(t[-3::-1]) # Slicing right to left as step size is negative which reverses the direction of slicing
print(t[-3:-7:-1])
print(t[-5:5:-1]) # slicing not possible. Directional conflicts
print(t[5:-5:-1])
print(t[6:2:-1])
print(t[6:2:1])   # slicing not possible. Directional conflicts
print(t[-2:2:1])  # slicing not possible. Directional conflicts
print(t[-2:2:-1])

(3, -2, 8)
(3, -2, 8)
(5, 3, -2, 8)
(-2, 8, 9, 0, -4, 2)
(0, -4, 2)
(8, 9)
(0, 9, 8, -2, 3, 5)
(0, 9, 8, -2)
()
(0, 9)
(-4, 0, 9, 8)
()
()
(-4, 0, 9, 8)

## **Concatenation**

**Concatenation is same as for list.**

In [14]:
t1 = 1, 5, 9
t2 = 5, 3, 8

#t1+t2
print(t1 + t2) # t1 - t2 subtraction is not possible

#2*t1
print(2*t1)    # t1/2 division is not possible

(1, 5, 9, 5, 3, 8)
(1, 5, 9, 1, 5, 9)

## **Methods on Tuple**

**There are not many methods found on tuple. However, a tuple can be converted into a list and then the list methods can be applied.**

In [ ]:
print(dir(tuple))

In [ ]:
#help(tuple.__add__)  # This is actually concatenation of tuples
t1 = 1, 5, 9
t2 = 5, 3, 8

#print(t1.__add__(10)) # can only concatenate tuple (not "int") to tuple
#print(t1.__add__((10))) # sibgle element withing (), without comma considered as int
print(t1.__add__((10,)))
print(t1.__add__((10,), t2)) # cab concatenate only one tuple at a time

In [ ]:
#help(tuple.__sizeof__)  # Size of object in memory, in bytes.
t1 = 1, 5, 9
t = 5, 3, -2, 8, 9, 0, -4, 2

print(t1.__sizeof__())
print(t.__sizeof__())

In [ ]:
#help(tuple.__getitem__)

t1 = 1, 5, 9
print(t1.__getitem__(0))

### **# First index location of element of the tuple**

In [ ]:
#help(tuple.index)

del(t)  # delete previously assigned t if any
t = 1, 3, 5, 8, 1, 5, 0

print(t.index(5))  # prints the index of first 5 from left to right
# or
print(tuple.index(t, 1)) # prints the index of first 1 from left to right

### **# Return number of occurrences of item**

In [ ]:
#help(tuple.count)

del(t)  # delete previously assigned t if any
t = 1, 3, 5, 8, 1, 5, 0

print(t.count(5))
#
print(tuple.count(t, 1))

## **Exercises on Tuple**

**Q1. Make a tuple of lengths for the tuples inside a tuple.**

In [17]:
del(t)   # delete previously assigned t if any
t = ((1, 'sam', 5), (2, 'ram', 3, 'bian'), (7,[2, 5]), (8,))

print(tuple([len(i) for i in t])) # tuple from list comprehension

print(tuple(len(i) for i in t))  # direct tuple from generator 

lt=()             # empty tuple
for i in t:
    lt += (len(i),)  # concatenation of tuples of lengths
    
print(lt)

(3, 4, 2, 1)
(3, 4, 2, 1)
(3, 4, 2, 1)

In [ ]:
import time
del(t)   # delete previously assigned t if any
t = ((1, 'sam', 5), (2, 'ram', 3, 'bian'), (7,[2, 5]), (8,))

begin1 = time.time()

print([len(i) for i in t])

end1 = time.time()
run_time1 = (end1 - begin1)*1e3
print(run_time1)

begin2 = time.time()

print(tuple(len(i) for i in t))

end2 = time.time()
run_time2 = (end2 - begin2)*1e3
print(run_time2)

begin3 = time.time()

print(tuple([len(i) for i in t]))

end3 = time.time()
run_time3 = (end3 - begin3)*1e3
print(run_time3)

**Q2. Make a tuple of memory sizes for the tuples inside a tuple.**

In [ ]:
del(t)   # delete previously assigned t if any
t = ((1, 'sam', 5), (2, 'ram', 3, 'bian'), (7,[2, 5]), (8,))

print(tuple([i.__sizeof__() for i in t])) # tuple from list comprehension

print(tuple(i.__sizeof__() for i in t))  # direct tuple from generator 

st=()             # empty tuple
for i in t:
    st += (i.__sizeof__(),)  # concatenation of tuples of lengths using for loop
    
print(st) 


print(t.__sizeof__())

**Q3. Extract maximum and minimum n elements as tuple from a given tuple.**

In [ ]:
k = 2
gt = (5, -3, 8, 4, 25, 6)
sort_gt = tuple(sorted(gt))
#print(sort_gt)
new_t = sort_gt[-1:-(k+1):-1] + sort_gt[:k]
#new_t = sort_gt[-k:] + sort_gt[:k]
new_t

In [ ]:
k = 2
gt = (5, -3, 8, 4, 25, 6)
sort_l = list(gt)
sort_l.sort()
sort_gt = tuple(sort_l)
#print(sort_gt)
new_t = sort_gt[-1:-(k+1):-1] + sort_gt[:k]
#new_t = sort_gt[-k:] + sort_gt[:k]
new_t

In [ ]:
k = 2
gt = (5, -3, 8, 4, 25, 6)
sort_gt = tuple(sorted(gt))
#print(sort_gt)
new_t = ()

for indx, val in enumerate(sort_gt):
    if indx < k or indx >= len(sort_gt)-k:
        new_t += (val,)
tuple(new_t)

In [ ]:
k = 2
gt = (5, -3, 8, 4, 25, 6)
sort_l = sorted(gt)
#print(sort_gt)
new_l = []

for indx, val in enumerate(sort_l):
    if indx < k or indx >= len(sort_l)-k:
        new_l.append(val)
tuple(new_l)

**Q4. Create a list and tuple of tuples from given list / tuple having number and its cube in each tuple.**

In [ ]:
from random import *

lst = [randint(1,10) for i in range(4)]           # from list
print(lst)

print([(i, i**3) for i in lst])            # list comprehension
print(tuple((i, i**3) for i in lst))       # direct tuple from generator expression
print(tuple([(i, i**3) for i in lst]))     # tuple from list comprehension

In [ ]:
from random import *

tup = tuple([randint(1,10) for i in range(4)])     # from tuple
print(tup)

print([(i, i**3) for i in tup])            # list comprehension
print(tuple((i, i**3) for i in tup))       # direct tuple from generator expression
print(tuple([(i, i**3) for i in tup]))     # tuple from list comprehension

In [ ]:
from random import *

tup = tuple([randint(1,10) for i in range(4)])     # from tuple
print(tup)

new_l = []
for i in tup:
    new_l.append((i, pow(i, 3)))
print(new_l)                        # list of tuples

new_l2 = []
for i in tup:
    new_l2 += (i, pow(i,3)),
print(new_l2)                       # list of tuples

new_t = ()
for i in tup:
    new_t += (i, pow(i,3)),
print(new_t)                        # tuple of tuples

**Q5. Add elements of a tuple to list or vice-versa.**

In [ ]:
from random import *

lst = [randint(1,10) for i in range(4)]
print(lst)

tup = tuple(randint(1,10) for i in range(4))
print(tup)

new_lst = lst + list(tup)
print(new_lst)

new_tup = tuple(lst) + tup
print(new_tup)

In [ ]:
from random import *

lst = [randint(1,10) for i in range(4)]
print(lst)

tup = tuple(randint(1,10) for i in range(4))
print(tup)

new_lst1 = lst.copy() # if we do new_lst = lst, then original lst will get altered
new_lst1.extend(i for i in tup)
new_tup1 = tuple(new_lst1)
print(lst)
print(new_lst1)
print(new_tup1)

new_lst2 = list(tup).copy()
new_lst2.extend(i for i in lst)
new_tup2 = tuple(new_lst2)
print(new_tup2)

**Q6.

In [ ]:
from random import *

mat = [[randint(1,20) for _ in range(4)] for _ in range(3)]
print(mat)

tr_mat1 = [[mat[i][j] for i in range(len(mat))] for j in range(len(mat[0]))]
print(tr_mat1)

tr_mat2 = [[mat[j][i] for j in range(len(mat))] for i in range(len(mat[0]))]
print(tr_mat2)

In [ ]:
a=[]
for i in range(3):
    a.append([i**2 for j in range(2)])
a

In [18]:
a=()
for i in range(3):
    a.append(i**2 for j in range(2))
a

AttributeError: 'tuple' object has no attribute 'append'