In [1]:
def func_name(args):  # args i.e., argument can be a variable or parameter, a string or any other iterable
    instructions
    return value

In [2]:
def fun():             # function without any arguments
    return 'Hello!'

fun()                  # calling the defined function

'Hello!'

### **String as argument**

In [3]:
def fun(name):             # function with string as argumnet
    return 'Hello!', name

print(fun('Roy'))          # gives tuple as two strings with comma is a tuple
print(type(fun('Roy')))

('Hello!', 'Roy')
<class 'tuple'>

In [4]:
def fun(name):             # function with string as argumnet
    return name

print(fun('Roy'))          # gives string
print(type(fun('Roy')))

Roy
<class 'str'>

### **Integer as argument**

In [5]:
def fun_sq(x):              # function with int as argumnet
    return x**2
    
print(fun_sq(5))            # int
print(type(fun_sq(5)))

25
<class 'int'>

### **List as argument**

In [6]:
def fun_sq_cub(lst):              # function with list as argumnet
    n = []
    m = []
    for i in lst:
        n = n + [i**2]
        m = m + [i**3]
    return n                         # return only n, m becomes useless
    
my_lst = [1, 2, 3, 4, 5]
print(fun_sq_cub(my_lst))            # list
print(type(fun_sq_cub(my_lst)))

[1, 4, 9, 16, 25]
<class 'list'>

In [7]:
def fun_sq_cub(lst):              # function with list as argumnet
    n = []
    m = []
    for i in lst:
        n = n + [i**2]
        m = m + [i**3]
    return m                      # return only m, n becomes useless
    
my_lst = [1, 2, 3, 4, 5]
print(fun_sq_cub(my_lst))         # list
print(type(fun_sq_cub(my_lst)))

[1, 8, 27, 64, 125]
<class 'list'>

In [8]:
def fun_sq_cub(lst):              # function with list as argumnet
    n = []
    m = []
    for i in lst:
        n = n + [i**2]
        m = m + [i**3]
    return n + m                  # return concatenation of n and m, which is also a list
    
my_lst = [1, 2, 3, 4, 5]
print(fun_sq_cub(my_lst))         # list
print(type(fun_sq_cub(my_lst)))

[1, 4, 9, 16, 25, 1, 8, 27, 64, 125]
<class 'list'>

In [9]:
def fun_sq_cub(lst):              # function with list as argumnet
    n = []
    m = []
    for i in lst:
        n = n + [i**2]
        m = m + [i**3]
    return n, m                   # return n and m two lists, separated by comma: gives tuple of two lists
    
my_lst = [1, 2, 3, 4, 5]
print(fun_sq_cub(my_lst))         # tuple
print(type(fun_sq_cub(my_lst)))

([1, 4, 9, 16, 25], [1, 8, 27, 64, 125])
<class 'tuple'>

In [10]:
def fun_sq_cub(lst):              # function with list as argumnet
    n = [i**2 for i in lst]
    m = [j**3 for j in lst]
    return n, m                   # return n and m two lists, separated by comma: gives tuple of two lists
    
my_lst = [1, 2, 3, 4, 5]
print(fun_sq_cub(my_lst))         # tuple
print(type(fun_sq_cub(my_lst)))

([1, 4, 9, 16, 25], [1, 8, 27, 64, 125])
<class 'tuple'>

### **Tuple as argument**

In [20]:
def fun_sq_cub(tpl):              # function with tuple as argumnet
    n = [i**2 for i in tpl]
    m = [j**3 for j in tpl]
    return n + m                  # return concatenation of two lists n and m, which is also a list 
    
my_tpl = (1, 2, 3, 4, 5)
print(fun_sq_cub(my_tpl))         # list
print(type(fun_sq_cub(my_tpl)))

[1, 4, 9, 16, 25, 1, 8, 27, 64, 125]
<class 'list'>

In [11]:
def fun_sq_cub(tpl):              # function with tuple as argumnet
    n = [i**2 for i in tpl]
    m = [j**3 for j in tpl]
    return n, m                   # return n and m two lists, separated by comma: gives tuple of two lists
    
my_tpl = (1, 2, 3, 4, 5)
print(fun_sq_cub(my_tpl))         # tuple
print(type(fun_sq_cub(my_tpl)))

([1, 4, 9, 16, 25], [1, 8, 27, 64, 125])
<class 'tuple'>

In [12]:
def fun_sq_cub(tpl):              # function with tuple as argumnet
    n = tuple(i**2 for i in tpl)
    m = tuple(j**3 for j in tpl)
    return n, m                   # return n and m two tuples, separated by comma: gives tuple of two tuples
    
my_tpl = (1, 2, 3, 4, 5)
print(fun_sq_cub(my_tpl))         # tuple
print(type(fun_sq_cub(my_tpl)))

((1, 4, 9, 16, 25), (1, 8, 27, 64, 125))
<class 'tuple'>

In [13]:
def fun_sq_cub(tpl):              # function with tuple as argumnet
    n = ()
    m = ()
    for i in tpl:
        n = n + (i**2,)           # comma is necessary to make i**2 terms tuple
        m = m + (i**3,)           # comma is necessary to make i**2 terms tuple
    return n, m                   # return n and m two tuples, separated by comma: gives tuple of two tuples
    
my_tpl = (1, 2, 3, 4, 5)
print(fun_sq_cub(my_tpl))         # tuple
print(type(fun_sq_cub(my_tpl)))

((1, 4, 9, 16, 25), (1, 8, 27, 64, 125))
<class 'tuple'>

### **Dictionary as argument**

### **Void Functions: Functions without _return_ statement**

In [14]:
def fun(name):             # function without return statement 
    'Hello!', name

print(fun('Roy'))         # Falling off the end of a function returns "None"

None

In [15]:
def fun(name):             # function without return statement 
    print('Hello!', name)

print(fun('Roy'))          # returns "None"
# print(type(fun('Roy')))  # <class 'NoneType'>

Hello! Roy
None

In [16]:
def fun_sq(x):              # function without return statement 
    print(x**2)
    
print(fun_sq(5))            # returns "None"

25
None

In [17]:
def fun(name):             # function without return statement 
    print('Hello!', name)

fun('Roy')                 # does not return "None"

Hello! Roy

In [18]:
def fun_sq(x):             # function without return statement 
    print(x**2)
    
fun_sq(5)                  # does not return "None"

25

In [23]:
def fun_sq_cub(tpl):              # function with tuple as argumnet
    n = ()
    m = ()
    for i in tpl:
        n = n + (i**2,)           # comma is necessary to make i**2 terms tuple
        m = m + (i**3,)           # comma is necessary to make i**2 terms tuple
    print(n, m)                   # return n and m two tuples with None
    
my_tpl = (1, 2, 3, 4, 5)
print(fun_sq_cub(my_tpl))         # <class 'NoneType'>
print(type(fun_sq_cub(my_tpl)))

None
<class 'NoneType'>

In [32]:
def fun_sq_cub(tpl,m,n):              # function with tuple as argumnet
    n = tuple(i**2 for i in tpl)           
    m = tuple(j**3 for j in tpl)          
                 #
    
my_tpl = (1, 2, 3, 4, 5)
fun_sq_cub(my_tpl,l,s)        
print(l)

NameError: name 'l' is not defined

## **Types of Python Function Arguments**

### **# Default argument**