**1. Write a lambda function that takes a list of integers and returns a new list where each integer is squared.**

In [1]:
sq_lst1 = lambda lst: [i**2 for i in lst]

l = [3,5,7,9]
sq_lst1(l)

[9, 25, 49, 81]

In [2]:
def sq_lst2(lst):
    return [i**2 for i in lst]

In [3]:
sq_lst2(l)

[9, 25, 49, 81]

In [4]:
# lambda function in list comprehension
sq_num1 = lambda i: i**2
my_lst = [3,5,7,9]

new_lst = [sq_num1(x) for x in my_lst]
print(new_lst)

[9, 25, 49, 81]

In [5]:
# lambda function in list comprehension
my_lst = [3,5,7,9]

new_lst = [(lambda i: i**2)(x) for x in my_lst]
print(new_lst)

[9, 25, 49, 81]

**using _map_ function**

In [6]:
#help(map)

In [7]:
sq_num1 = lambda x: x**2

l = [3,5,7,9]

print(list(map(sq_num1, l)))
print(tuple(map(sq_num1, l)))

[9, 25, 49, 81]
(9, 25, 49, 81)

In [8]:
l = [9, 7, 5, 3, 1]

print(list(map(lambda x: x**2, l)))
print(tuple(map(lambda x: x**2, l)))

[81, 49, 25, 9, 1]
(81, 49, 25, 9, 1)

In [9]:
def sq_num2(x):
    return x**2

In [10]:
t = (3,5,7,9)
list(map(sq_num2, t))

[9, 25, 49, 81]

In [11]:
d = {1: 1, 2: 8, 3: 27}

#print(d.keys())
print(list(map(lambda x: x**2, d.values())))
print(tuple(map(lambda x: x**2, d.keys())))
print(tuple(map(lambda x: x**2, d.values())))

[1, 64, 729]
(1, 4, 9)
(1, 64, 729)

In [12]:
d = {1: 1, 2: 8, 3: 27}

sq_num3 = lambda x: x**2

#print(d.keys())
print(list(map(sq_num3, d.values())))
print(tuple(map(sq_num3, d.keys())))
print(tuple(map(sq_num3, d.values())))

[1, 64, 729]
(1, 4, 9)
(1, 64, 729)

**2. Write a lambda function that takes a dictionary and returns the values sorted in descending order.**

In [13]:
dict_val1 = lambda d: sorted(list(d.values()), reverse=True)

In [14]:
my_dict = {'a':2, 'b':9, 'c':3, 'd':5}

dict_val1(my_dict)

[9, 5, 3, 2]

In [15]:
dict_val2 = lambda d: sorted((d.values()), reverse=True)

In [16]:
my_dict = {'a':2, 'b':9, 'c':3, 'd':5}

dict_val2(my_dict)

[9, 5, 3, 2]

**3. Write a lambda function that takes a list of tuples where each tuple contains a name and an age, and returns a new list of names sorted alphabetically.**

In [17]:
name_lst1 = lambda lst: sorted(t[0] for t in lst)

In [18]:
my_lst = [('Ram', 27), ('Sham', 25), ('Laxman', 28), ('Sarat', 20)]

name_lst1(my_lst)

['Laxman', 'Ram', 'Sarat', 'Sham']

In [19]:
def name_lst2(lst):
    return sorted(t[0] for t in lst)

In [20]:
name_lst2(my_lst)

['Laxman', 'Ram', 'Sarat', 'Sham']

In [21]:
def name_lst3(lst):
    new_lst = []
    for t in lst:
        new_lst.append(t[0])
    return sorted(new_lst)
    return new_lst

In [22]:
name_lst3(my_lst)

['Laxman', 'Ram', 'Sarat', 'Sham']

**sorting wit respect to the last character of the names**

In [23]:
name_lst4 = lambda lst: sorted((t[0] for t in lst), key=lambda x: x[::-1])

In [24]:
name_lst4(my_lst)

['Ram', 'Sham', 'Laxman', 'Sarat']

**4. Write a lambda function that takes a list of strings and returns a new list containing only the strings that start with the letter 'S'.**

In [25]:
def f(lst):
    new_lst = []
    for w in lst:
        if w.startswith('S')==True:
            new_lst.append(w)
    return new_lst

In [26]:
names = ['Ram', 'Sham', 'Laxman', 'Sarat']

f(names)

['Sham', 'Sarat']

In [27]:
s = lambda lst1: [w.startswith('S') for w in lst1]

s(names)

[False, True, False, True]

In [28]:
#help(filter)

**using lambda and filter functions**

In [29]:
wd = lambda w: w.startswith('S')

print(wd('Ram'))

print(list(filter(lambda w: w.startswith('S'), names)))

False
['Sham', 'Sarat']

In [30]:
nlst = lambda lst: list(filter(lambda w: w.startswith('S'), lst))

nlst(names)

['Sham', 'Sarat']

**5. Write a lambda function that takes a list of strings and returns a new list where each string is reversed.**

In [31]:
str_rev_lst1 = lambda str_lst: [strs[::-1] for strs in str_lst]

In [32]:
my_str_lst = ['Ram', 'Sham', 'Laxman', 'Sarat']

str_rev_lst1(my_str_lst)

['maR', 'mahS', 'namxaL', 'taraS']

In [33]:
def str_rev_lst2(lst):
    nw_lst = []
    for sr in lst:
        nw_lst.append(sr[::-1])
        
    return nw_lst

In [34]:
str_rev_lst2(my_str_lst)

['maR', 'mahS', 'namxaL', 'taraS']

**6. Extract odd numbers from a list of integers using lambda function.**

In [35]:
odd_n =lambda n: n%2 != 0

print(odd_n(5))

my_int_lst = [11, 2, 3, 4, 8, 5, 9]
print(list(filter(odd_n, my_int_lst)))

True
[11, 3, 5, 9]

In [36]:
odd_lst = lambda int_lst: list(filter(lambda n: n%2 != 0, int_lst))

In [37]:
odd_lst(my_int_lst)

[11, 3, 5, 9]

**7. Take elements from two different list and make a new list of tuples using lambda function.**

In [38]:
coord1 = lambda seq1, seq2: list(map(lambda x, y: (x, y), seq1, seq2))

In [39]:
x_coord = [1, 3, 5, 7]
y_coord = [7, 5, 3, 1]

coord1(x_coord, y_coord)

[(1, 7), (3, 5), (5, 3), (7, 1)]

**using _zip_ function**

In [40]:
coord2 = lambda seq1 ,seq2: list(zip(seq1, seq2))

In [41]:
coord2(x_coord, y_coord)

[(1, 7), (3, 5), (5, 3), (7, 1)]